.btn-custom {
    min-width: 95px;
    min-height: 25px;
    margin: 5px auto;
    padding: 9px 12px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Poppins';
    font-size: 1em !important;
    line-height: 25px !important;
    color: #5e5e5e;
    text-align: center;
    letter-spacing: .95px;
    cursor: pointer;
    background-color: #d1d1d1;
    border-radius: 3px;
    transition: all 0.12s linear 0s !important;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    z-index: 1;
}

a.btn-custom {
    text-decoration: none;
}

.btn-primary {
    color: #d1d1d1;
    background-color: rgb(71, 117, 196);
    border-style: none;
}

.btn-primary::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: rgb(54, 95, 165);
    border: 1px solid rgb(54, 95, 165);
    border-radius: 3px;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-primary:hover {
	color: #fafafa;
	border-color: rgb(71, 117, 196);
}

.btn-primary,
.btn-primary::before, 
.btn-edit, .btn-edit::before, 
.btn-detail, .btn-detail::before,
.btn-delete, .btn-delete::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn-primary:hover::before, 
.btn-edit:hover::before, 
.btn-detail:hover::before,
.btn-delete:hover::before  {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}